extends layout
block content
  h2 New product
  form(action='/add', method='POST', enctype='multipart/formdata')
    | Name 
    input(type='text', name='name')
    | Tag line 
    input(type='text', name='tagline')
    | URL 
    input(type='text', name='url')
    | Image
    input(type='file', name='photo')
    button(type='submit') Add
    a(href='/')
      button(type='button') Cancel
